# ===== Docker =====
/dbdata/
/.env
.env.*
*.env

# Docker cache & overrides
**/.docker
**/docker-compose.override.yml

# ===== System files =====
.DS_Store
Thumbs.db

# ===== VSCode / IDE =====
.vscode/
.idea/

# ===== Logs & temp =====
*.log
*.cache
*.pid
*.seed
*.bak
*~
*.swp
*.swo

npm_data/database.sqlite
